
/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');
 */
/* body {
  font-family: 'Poppins', sans-serif !important;
  background: #dae1e7 !important;
} */
.sub-active {
  border-bottom: 2px solid #009A78 !important;
  border-radius: 0px 0px 0px 0px !important;
  color: #009A78 !important;
}
.navbar-sub {
  padding-bottom: 0px !important;
  font-weight: 400 !important;
}
.sub > .nav-item {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.sub > .nav-item > .nav-link {
  color: #333E48 !important;
}
.navbar-brand {
  font-weight: 700 !important;
}
.block {
  border: 1px solid #D6DBDF !important;
  border-radius: 0px 0px 0px 0px !important;
}
.center {
  border-left: 1px solid #D6DBDF !important;
  border-right: 1px solid #D6DBDF !important;
}
.nav-tabs, .tab-content {
  background: #FFF !important;
  border: 1px solid #ddd;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #fff !important;
  border: 0px solid !important;
  border-bottom: 2px solid #009A78 !important;
  color: #009A78 !important;
  font-weight: 700;
  font-style: italic;
}

.nav-tabs .nav-link {
  border: 0px solid transparent !important;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  color: #333E48 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-weight: 400;
  font-style: normal;
}

.stats {
  padding: 30px !important;
}
.percent-down {
  font-size: 15px !important;
  color: red !important;
}
.percent-up {
  font-size: 15px !important;
  color: green !important;
}
.cur {
  font-size: 15px !important;
  padding-bottom: 20px !important;
  vertical-align: text-top !important;
}
.sub-price {
  font-size: 13px !important;
  text-transform: uppercase !important;
  color: #333E48 !important;
}
.price {
  color:#606f7b !important;
}
.progress {
  margin-top:8px !important;
}
.cht {
  border-bottom: 1px solid #D6DBDF !important;
}
.bg-eth {
  background-color: #627dea !important;
}
.bg-zcash {
  background-color: #f4b728 !important;
}

.bg-danger {
  background-color: #d9534f !important;
}
.ftr .nav-link {
  font-size: 13px !important;
  color: #333E48 !important;
}
.activity {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}



/*app css*/

 .kyc-navbar{
        margin-top: 75px;
    }
    
    .btn-circle  { 
           
            border-radius: 50px; 
            
        } 
        
        .notification {
  /* color: white; */
  text-decoration: none;
  padding: 14px 0px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.notification .badge {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #4caf50;
    color: white;
}

.badge {
  height: 50px;
  width: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /* background: #e6e4ea!important; */
  font-size:180%;
  color:#fff;
}
/* 
.nav-tabs .nav-link.active {
    font-weight:bold;
    background-color: transparent;
    border-bottom:3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
} */

/*body spinner*/

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:block;
    
    
}



@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/*body spinner*/

textarea {
  resize: none;
}

.no-drop {cursor: no-drop !important; pointer-events: none;}

.no-border{border:none !important}

.bottom-border {border-bottom:1px solid #e9ecef !important}

.no-bgcolor{background:transparent !important}




/*end of app css*/





td.highlight {
    background-color: whitesmoke !important;
}

.txt_colr{color: rgb(22, 34, 82);font-weight: bold;}
.btn-circle{width: 50%;}  

.fa-question-circle{
  color: #0275d8;
}
.fa-check-circle{
  color: #009A78;
}
.fa-times-circle{
  color: #d9534f;
}

.fa-question-circle-o{
  color: rgb(22, 34, 82);;
}
.fa-check-circle-o{
  color: #009A78;
}
.fa-times-circle-o{
  color: #d9534f;
}
/*end of app css*/ /* warning color code:  #f0ad4e */

/* D3 pie chart css */



@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

section {
  margin-top: 30px;
}

.pieID {
  display: inline-block;
  vertical-align: top;
}

.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin:0px 50px 50px 25px;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
}

.legend li {
  width: 135px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.legend em {
  font-style: normal;
}

.legend span {
  float: right;
}

  /*D3 pie chart css End */
  
  
  
  
  .cursor-pointer{
  cursor: pointer;
}
.text-ekyc{
	color:#009A78 !important;
}

.btn-ekyc {
    color: #fff;
    background-color: #009A78;
    border-color: rgb(22, 34, 82);;
}


.btn-ekyc:hover {
    color: #fff;
    background-color: rgb(22, 34, 82);;
    border-color: #009A78;
}

.bg-ekyc {
    color: #fff;
    background-color: #009A78;
    border-color: rgb(22, 34, 82);;
}

.bg-ekyc-secondary {
    color: #fff;
    background-color: rgb(22, 34, 82);
    border-color: #009A78;
}	

.dataTable tbody tr
{
cursor: pointer; 
}

.page-item.active .page-link{
	 background-color: #009A78 !important
}
.highlight{
	background-color: #333E48 !important;
	color:#fff !important;
}

#tooltip {
  position: absolute;
  z-index: 1001;
  display: none;
  border: 2px solid #333E48;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(22, 34, 82);
  color : #fff ;
}

#tooltip hr  {
  border: 1px solid #fff;
  border-radius: 10px;
}

