
 body{
 font-family: 'Poppins', sans-serif; 
 
} 

.text-custom-color-gp{
color:#243665;
font-weight:500;
}


/* .btn-bs3-prime{
   color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 2px 5px;
    font-size: 70%;
} */
.steps  ul
{
 list-style-type:none !important;
} 

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
			color: #495057;
			background-color: #fff;
			border-bottom: 2px solid #0fc384;
			border-left:none ;
			border-right:none;
			border-top:none;
			font-weight: bold;
		 
		 }

 .txtarea-hrlines {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}
 
 
  

/* .Note-iconStyle{
font-size: larger;
color: #1d655cf7;
} */



#card-btomspceStyle{
margin-bottom: 15px;
}



#iconViewStyle{
    background: #fff;
    padding: 2px;
    border-radius: 2px;
    color: grey;
}
