
 body{
 font-family: 'Poppins', sans-serif; 
 } 
 
.card label{
  margin-bottom : 0em;
}
.nav-pills-custom .nav-link {
   /*  color: #aaa; */
    background: #fff;
    position: relative;
    border: 1px solid #d2cfcf;
}

.nav-pills-custom .nav-link.active {
    color: #243665;
    background: #eee;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
       /*  border-left: 10px solid #fff; */
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/*  */

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item{
padding: 0em;
}

#prodsecStyle span{
   padding-left:30px;
}

.list-group.list-group-root  span{
  margin-bottom: 8px;
}

.card label{
 display: inline-block;
 text-align: right;
 float: right !important;
}

