
 body{
 font-family: 'Poppins', sans-serif; 
 } 
 
.card label{
  margin-bottom : 0em;
}

.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}
.mandatoryStar{
	color:red;
}
.errMsg{
	display:none;
	color:red;
}



