.middle {
  width: 100%;
  text-align: center;

}

.text-custom-color{
color:#243665
}


/*Card style*/

.card {
  display: block; 
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow 1.25s; 
}
.card:hover {
  box-shadow: 0 12px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
/* font-size: 1.65em;*/
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more input{
  text-decoration: none !important;
  /* padding:5px; */ 
  margin:10px;
  font-weight:600; 
 /*  text-transform: uppercase */
  
}

/* .btn-bs3-prime{
   color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 2px 5px;
    font-size: 70%;
} */



/* .btnStyle-01{
  font-size: 85%;
} */

/* #navbar-bg01{
background: linear-gradient(110deg, #1d655cf7 60%, #454a4e52 60%);
} */
/*Card Style*/
  