body{
font-family: 'Poppins', sans-serif;
} 

.text-custom-color-gp{
color:#243665;
font-weight:500;
}
.steps  ul
{
 list-style-type:none !important;
} 

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
			color: #495057;
			background-color: #fff;
			border-bottom: 2px solid #5CB434;
			border-left:none ;
			border-right:none;
			border-top:none;
			font-weight: bold;
		 
}

.Note-iconStyle{
font-size: larger;
color: #1d655cf7;
}

#i-icon-note-style{
color: #0288d1;
font-size: larger;
}


	
.imgcenter{
	margin-top: 15%;
    max-width: 40%;
    max-height: 40%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
 #myTab-01{
  
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;

  } 
  
 #listStyle-02{
     /* color: grey; */
     font-size: 12px;
     /* text-decoration: underline; */
    /* color: #56adf3; */
    color: #4e4b4b;
     }
 #listStyle-02:hover{
     color: blue;
     font-size: 12px;
   }  
   
 #iconStyle-01{
   color: #4caf50;
   }
   
 #iconStyle-02{
  /* 
   color: #ff9800 ; */
   color: #656767;
   }
   
/*  .badge{
   padding :0em;
   } */
   
 label{
   margin-bottom:0em;
   }
   
 #ulLiStyle-01 .list-group-item{
     /* padding: .1rem 1.2rem; */
     padding: .3rem 1.2rem;
   }
  

#listgroupbg-01 a{
background: #f5f5f5;
}

/* .form-group{
   margin-bottom:0px;
} */
  
  #lblFntSz-01 {
    font-size: 70%;
  }
   .txtarea-hrlines {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}

.ArchiveList {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

* {
  box-sizing: border-box;
}

#nricTypeText {
  	background-image: url('search.png');
  	background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 13px;
    padding: 7px 3px 4px 33px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#searchListItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#searchListItems li a {
  	border: 1px solid #ddd;
    margin-top: 0px;
    background-color: #f6f6f6;
    padding: 7px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    width: 100%;
}

#searchListItems li a:hover:not(.header) {
  background-color: #eee;
}

