 body{
     font-family: 'Poppins', sans-serif;
             /* font-size: 13px; */
} 
 .text-custom-color-gp{
         color:#243665;
         font-weight:500;
         }
        /*  .btn-bs3-prime{
         color: #fff;
         background-color: #337ab7;
         border-color: #2e6da4;
         padding: 2px 5px;
         font-size: 70%;
         } */
         .steps  ul
         {
         list-style-type:none !important;
         } 
         .pricing-header {
         max-width: 700px;
         }
         .card-deck .card {
         min-width: 220px;
         }
		 
		 .hide{
		   display: none;
		 }
		 
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
			color: #495057;
			background-color: #fff;
			border-bottom: 2px solid #5CB434;
			border-left:none ;
			border-right:none;
			border-top:none;
			font-weight: bold;
		 
		 }
		 
 

/*  .form-group{
  margin-bottom: 5px;
} */
 
label{
margin-bottom: 0px;
}
		 


#prodFrom .badge{
 font-size: 80%;
 font-weight:bold; 
}

.error{
  border-color: red;
}

.border-blue{
  border-color: #3f51b5;
}
/* select .form-control{
font-size: 13px;
} */		  