
 body{
 font-family: 'Poppins', sans-serif; 
 } 
 
.card label{
  margin-bottom : 0em;
}

#ulLiStyle-01 .badge{
  font-weight: normal;
}
 

 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
			color: #495057;
			background-color: #fff;
			border-bottom: 2px solid #5CB434;
			border-left:none ;
			border-right:none;
			border-top:none;
			font-weight: bold;
		 
		 }
		 
.txtarea-hrlines {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}

 #ulLiStyle-01 .list-group-item{
     padding: .2rem 1.2rem;
   }
 .accordion .card {
	background: none;
	border: none;
}
.accordion .card .card-header {
	background: none;
	border: none;
	padding: .4rem 1rem;
	
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	
	font-size: 12px;
	text-align: left;
	position: relative;
	
	padding-left: 2rem;
}
.accordion .card-header i {
	
	
	position: absolute;
	left: 0;
	top: 9px;
}
.accordion .card-header .btn:hover {
	color: #2a4fb6;
}
.accordion .card-body {
	
	padding: 0rem 3rem;
}
.page-title {
	margin: 3rem 0 3rem 1rem;
	
	position: relative;
}
.page-title::after {
	content: "";
	width: 80px;
	position: absolute;
	height: 3px;
	border-radius: 1px;
	color: #74bd30;
}
.accordion .highlight i {
	background: #73bb2b;
	left: 0;
	bottom: -15px;
}
.accordion .highlight .btn {
transform: rotate(180deg);
}	

#accordionExample{
    border: 1px solid #f0f0f7;
    border-radius: 5px;
}	

 		 
